#
# /*               "Copyright 2020 Infosys Ltd.
#                Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
#                This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
#
#

server.port={{ application_port }}

neo4j.auth.enable={{ enable_password_for_neo4j }}
neo4j.url={{ neo4j_url }}
neo4j.username={{ neo4j_username }}
neo4j.password={{ neo4j_password }}
neo.timeout=30

spring.data.cassandra.bodhi.contact-points={{ cassandra_host }}
spring.data.cassandra.bodhi.port={{ cassandra_port }}
spring.data.cassandra.bodhi.keyspace-name={{ keyspace_bodhi }}
spring.data.cassandra.bodhi.username={{ cassandra_username }}
spring.data.cassandra.bodhi.password={{ cassandra_password }}

spring.data.cassandra.sunbird.contact-points={{ cassandra_host }}
spring.data.cassandra.sunbird.port={{ cassandra_port }}
spring.data.cassandra.sunbird.keyspace-name={{ keyspace_sunbird }}
spring.data.cassandra.sunbird.username={{ cassandra_username }}
spring.data.cassandra.sunbird.password={{ cassandra_password }}

cassandra.config.host={{ sunbird_cassandra_db_host }}
sunbird_cassandra_consistency_level=quorum

es.auth.enabled=false
es.host={{ elasticsearch_host }}
es.port={{ elasticsearch_http_port }}
es.username={{ elasticsearch_username }}
es.password={{ elasticsearch_password }}
es.profile.index=userprofile
es.profile.index.type=_doc
es.profile.source.fields=photo,id,employmentDetails,personalDetails,profileDetails


user.registry.ip=http://{{ network_alias_opensaber }}:{{ service_opensaber_port }}
user.registry.search.endpoint=/search

#notification.ip=http://{{ service_notification_service }}:{{ service_notification_service_port }}/
notification.service.host=http://notification-service:9000
notification.event.endpoint=/v1/notification/send
notification.template.targetUrl.value=https://{{ domain_name }}/app/network-v2/home
notification.template.reciepient=author
notification.template.sender=#from-connect-UUID
notification.template.targetUrl=#targetUrl
notification.template.status=#status

notification.template.request=Received Connection request!
notification.template.response=Received Connection response!
notification.enabled=true

kafka.bootstrapAddress={{ kafka_ip }}
add.topic.group.id=
update.topic.group.id=

taskExecutor.connection.threadPoolName=
taskExecutor.connection.corePoolSize=2
taskExecutor.connection.maxPoolSize=2
taskExecutor.connection.queueCapacity=3

max.node.size=50

redis.host.name={{ kp_redis_ip }}
redis.port=6379
#redis timeout value is in seconds
redis.timeout={{ redis_hub_timeout | default('84600') }}
redis.userList.read.timeout={{ redis_hub_userlist_read_timeout | default('84600') }}
read.assess.questions.from.redis={{ hub_read_assess_questions_from_redis | default('true') }}
network.request.default.limit={{ hub_network_request_default_limit | default('50') }}
network.request.max.limit={{ hub_network_request_max_limit | default('100') }}

accesstoken.publickey.basepath=/keys/
sso.url=https://{{ domain_name }}/auth/
sso.realm={{ keycloak_sso_realm }}
sso.connection.pool.size=20
sso.enabled=true

notification.api.url=http://cb-notification-wrapper-service:8081/notifications/create

user.label.v3=userV3
redis.user.connectionRecieved.timeout=28800
redis.user.connectionRequested.timeout=28800
redis.user.connectionEstablished.timeout=28800

user.read.v5=/v5/user/read/
client.http.request.factory.timeout=45000
client.http.request.factory.pooling.max.total.connections=2000
client.http.request.factory.pooling.default.max.per.route=500

spring.kafka.bootstrap.servers={{ kafka_servers_list }}
kafka.topic.name.user.profile.update={{env}}.user.profile.update
kafka.group.name.user.profile.update={{env}}.user.profile.update.networkhub.group
#kafka properties
kakfa.offset.reset.value=latest
kafka.max.poll.interval.ms=15000
kafka.max.poll.records=100
kafka.auto.commit.interval.ms=10000

id.map.lookup.service.url=http://id-mapping-service:8080
id.map.lookup.byname=/idmapping/lookup?name=
id.map.lookup.bylist=/idmapping/lookup?list=

user.recommendation.cache.limit=100
user.redis.count.timeout=28800

relationship.between.users.query='MATCH (a:userV3 {userId: $fromUser}), (b:userV3 {userId: $toUser}) OPTIONAL MATCH (a)-[r:connect]-(b) WHERE r.status IS NOT NULL  RETURN CASE WHEN r.status = ''Pending'' AND type(r) = ''connect'' AND startNode(r) = a THEN ''Pending'' WHEN r.status = ''Pending'' AND type(r) = ''connect'' AND endNode(r) = a THEN ''Received'' WHEN r.status = ''Blocked'' AND startNode(r) = a THEN ''Blocked Outgoing'' WHEN r.status = ''Blocked'' AND endNode(r) = a THEN ''Blocked Incoming'' ELSE r.status END AS status, r.createdAt AS createdAt, r.updatedAt AS updatedAt LIMIT 1'


recommendation.users.designation.query='MATCH (u1:userV3 {userId: $userId}) WITH u1.userId AS uid, u1.organisationId AS orgId MATCH (u2:userV3) WHERE u2.userId <> uid AND u2.organisationId = orgId OPTIONAL MATCH (u2)-[c:connect]-(u:userV3 {userId: uid}) WHERE c.status IN [''Pending'', ''Approved'', ''Blocked''] WITH u2, c WHERE c IS NULL RETURN u2.userId AS userId, u2.organisationId AS organisationId, u2.designation AS designation, u2.role AS role SKIP $offset LIMIT $size'

recommendation.mentors.query='MATCH (u1:userV3 {userId: $userId}) WITH u1.userId AS uid, u1.organisationId AS orgId MATCH (u2:userV3) WHERE u2.userId <> uid AND ''MENTOR'' IN u2.role OPTIONAL MATCH (u2)-[c:connect]-(u:userV3 {userId: uid}) WHERE c.status IN [''Pending'', ''Approved'', ''Blocked''] WITH u2, c, orgId WHERE c IS NULL RETURN u2.userId AS userId, u2.organisationId AS organisationId, u2.designation AS designation, u2.role AS role, CASE WHEN u2.organisationId = orgId THEN 0 ELSE 1 END AS orgPriority ORDER BY orgPriority ASC SKIP $offset LIMIT $size'

blocked.users.query='MATCH (u:userV3 {userId: $userId}) MATCH (u)-[r:connect]->(blocked:userV3) WHERE toLower(r.status) = ''blocked'' RETURN u.userId AS userId, u.designation AS designation, u.organisationId AS organisationId, blocked.userId AS blockedUserId, blocked.designation AS blockedUserDesignation, blocked.organisationId AS blockedOrganisationId, r.status AS connectionStatus, r.createdAt AS createdAt, r.updatedAt AS updatedAt SKIP $offset LIMIT $size'

recommended.users.count.query='MATCH (u1:userV3 {userId: $userId}) WITH u1.userId AS uid, u1.organisationId AS orgId MATCH (u2:userV3) WHERE u2.userId <> uid AND u2.organisationId = orgId OPTIONAL MATCH (u2)-[c:connect]-(:userV3 {userId: uid}) WHERE c.status IN [''Pending'', ''Approved'', ''Blocked''] WITH u2, c WHERE c IS NULL RETURN count(u2) AS totalCount'

recommended.mentors.count.query='MATCH (u1:userV3 {userId: $userId}) WITH u1.userId AS uid MATCH (u2:userV3) WHERE u2.userId <> uid AND 'MENTOR' IN u2.role OPTIONAL MATCH (u2)-[c:connect]-(u:userV3 {userId: uid}) WHERE c.status IN [''Pending'', ''Approved'', ''Blocked''] WITH u2, c WHERE c IS NULL RETURN count(u2) AS totalCount'

connections.status.count.query='MATCH (u:userV3 {userId: $userId}) MATCH (u)-[r:connect]-(other:userV3) WHERE r.status IN $statusValue WITH u.userId AS userId, r.status AS rawStatus, CASE WHEN r.status = ''Pending'' AND startNode(r) = u THEN ''Requested'' WHEN r.status = ''Pending'' AND endNode(r) = u THEN ''Received'' WHEN r.status = ''Blocked'' AND startNode(r) = u THEN ''Blocked Outgoing'' ELSE r.status END AS status RETURN userId, status, count(*) AS count ORDER BY status'

connections.outgoing.count.query='MATCH (u:userV3 {userId: $userId})-[r:connect]->(:userV3) WHERE r.status = $status RETURN count(r) AS count'

connections.incoming.count.query='MATCH (:userV3)-[r:connect]->(u:userV3 {userId: $userId}) WHERE r.status = $status RETURN count(r) AS count'


connections.both.count.query='MATCH (:userV3 {userId: $userId})-[r:connect]-(:userV3) WHERE r.status = $status RETURN count(r) AS count'
