### Default variable file for deterministic-chatbot ###
namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ docker_hub_url }}
replicaCount: {{deterministic-chatbot|default(1)}}
repository: {{ image_deterministic-chatbot_service }}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{deterministic-chatbot_cpu_req|default('100m')}}
    memory: {{deterministic-chatbot_mem_req|default('200Mi')}}
  limits:
    cpu: {{deterministic-chatbot_cpu_limit|default('1')}}
    memory: {{deterministic-chatbot_mem_limit|default('1024Mi')}}
network:
  port: {{ service_deterministic-chatbot_port }}
  targetport: {{ service_deterministic-chatbot_port }}
strategy:
  type: RollingUpdate
  maxsurge: {{ deterministic-chatbot_maxsurge|default('25%') }}
  maxunavailable: {{ deterministic-chatbot_maxunavailable|default('25%') }}
gcpaiassessmentcredentialsjson: |-
 {{ai_assessment_gcp_service_account_json}}

gcpaiassessmentcredentialsjson: |-
 {{gcp_artifcats_upload_service_account}}
