### Default variable file for deterministic-chatbot ###
namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ docker_hub_url }}
replicaCount: {{deterministic_chatbot|default(1)}}
repository: {{ image_deterministic_chatbot_service }}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{deterministic_chatbot_cpu_req|default('100m')}}
    memory: {{deterministic_chatbot_mem_req|default('200Mi')}}
  limits:
    cpu: {{deterministic_chatbot_cpu_limit|default('1')}}
    memory: {{deterministic_chatbot_mem_limit|default('1024Mi')}}
network:
  port: {{ service_deterministic_chatbot_port }}
  targetport: {{ service_deterministic_chatbot_port }}
strategy:
  type: RollingUpdate
  maxsurge: {{ deterministic_chatbot_maxsurge|default('25%') }}
  maxunavailable: {{ deterministic_chatbot_maxunavailable|default('25%') }}
gcpdeterministicchatbotcredentialsjson: |-
 {{deterministic-chatbot_gcp_service_account_json}}

gcpdeterministicchatbotcredentialsjson: |-
 {{gcp_artifcats_upload_service_account}}
