DB_DSN={{ ai_assessment_db_dsn }}
GOOGLE_PROJECT_ID={{ ai_assessment_google_project_id }}
GOOGLE_LOCATION=us-central1
GENAI_MODEL_NAME=gemini-2.5-pro
KARMAYOGI_API_KEY={{ ai_assessment_karmayogi_api_key }}
LOG_LEVEL=INFO
MAX_CONCURRENCY=50
WORKER_BATCH_SIZE=50
MAX_ATTEMPTS=3
SCORM_FLAG=false
SSO_URL={{ ai_assessment_sso_url }}
SSO_REALM={{ ai_assessment_sso_realm }}
CLEANUP_RETENTION_DAYS=7
CLEANUP_SCHEDULE_HOUR=3
CLEANUP_SCHEDULE_MINUTE=0
KAFKA_BOOTSTRAP_SERVERS={{ ai_assessment_kafka_bootstrap_servers }}
KAFKA_TOPIC={{ ai_assessment_kafka_topic }}
DISABLE_AUTH_VERIFICATION={{ ai_assessment_disable_auth_verification }}
KAFKA_REQUEST_TOPIC={{ ai_assessment_kafka_request_topic }}
KAFKA_GROUP_ID={{ ai_assessment_kafka_group_id }}
