server.port={{ application_port }}
server.connection-timeout=5000
server.tomcat.max-threads=2048
server.tomcat.min-spare-threads=20
server.tomcat.max-connections=15000
server.tomcat.accept-count=500

#spring data jpa for postgres
spring.datasource.url=jdbc:postgresql://{{ postgresql_host }}:{{ postgresql_port }}/sunbird
spring.datasource.username={{postgresql_username_sunbird }}
spring.datasource.password={{ postgresql_password_sunbird }}
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.show-sql=false

spring.cassandra.startupTimeoutInSeconds=100000
spring.cassandra.contact-points={{ sunbird_cassandra_db_host }}
spring.cassandra.port=9042
spring.cassandra.keyspace-name={{ keyspace_sunbird }}
spring.cassandra.username={{ cassandra_username }}
spring.cassandra.password={{ cassandra_password }}
spring.cassandra.local-datacenter=DC1
sunbird_cassandra_consistency_level=ONE

sb.api.key={{ bearer_token }}

#Elastic search config
es.auth.enabled=false
es.host.list={{es_host_list}}
es.username={{ elasticsearch_username }}
es.password={{ elasticsearch_password }}

#Sunbird Elasitc Search
sb.es.host.list={{sb_es_host_list}}
sb.es.username={{ sb_es_username }}
sb.es.password={{ sb_es_password }}
sb.es.user.profile.index=user_alias
sb.es.user.profile.index.type=_doc
es.profile.index=userprofile
es.profile.index.type=_doc

#igot elastic search
igot.es.user.form.index=fs-forms-data
es.form.index.type=_doc

#Kafka Server
spring.kafka.bootstrap.servers={{ kafka_servers_list }}

#Redis Cache Service properties
#redis timeout value is in seconds
redis.timeout=84600

spring.redis.host={{ kp_redis_ip }}
spring.redis.port=6379
spring.redis.cacheTtl=60000

cassandra.config.host={{ sunbird_cassandra_db_host }}

sso.url=https://{{ domain_name }}/auth/
sso.realm={{ keycloak_sso_realm }}
sso.connection.pool.size=20
sso.enabled=true

sunbird_sso_client_id={{sunbird_sso_client_id}}
sunbird_sso_username={{sunbird_sso_username}}
sunbird_sso_password={{sunbird_sso_password}}
sunbird_sso_url=https://{{ domain_name }}/auth/
sunbird_sso_realm={{ keycloak_sso_realm }}
sso.password={{sunbird_sso_username}}
sunbird_sso_publickey={{sunbird_sso_publickey}}
sso.username={{sunbird_sso_username}}
sunbird_sso_client_secret={{sunbird_sso_client_secret | d('')}}
accesstoken.publickey.basepath=/keys/
user.assessment.submission.duration=120

#ClientHttpRequestFactory
http.client.request.factory.timeout=45000
http.pooling.client.cm.max.total.connections=2000
http.pooling.client.cm.default.max.per.route=500

# Redis pool configuration
redis.pool.max.total=3000
redis.pool.max.idle=128
redis.pool.min.idle=100
redis.pool.max.wait=5000
redis.connection.timeout=60000

redis.insights.index=12
search.result.redis.ttl=600
user.profile.index=user_alias

redis.host.name={{ kp_redis_ip }}
redis.port=6379

redis.data.host.name={{ redis_host }}
redis.data.port={{ redis_port }}

cb.redis.maxIdle=128
cb.redis.maxTotal=3000
cb.redis.minIdle=100
cb.redis.testOnBorrow=true
cb.redis.testOnReturn=true
cb.redis.testWhileIdle=true
cb.redis.minEvictableIdleTimeMillis=120000
cb.redis.timeBetweenEvictionRunsMillis=30000
cb.redis.numTestsPerEvictionRun=3
cb.redis.blockWhenExhausted=true
cb.data.index=12
cb.cache.ttl=86400

elasticsearch.host={{ elasticsearch_host }}
elasticsearch.port={{ elasticsearch_http_port }}
elasticsearch.username={{ elasticsearch_username }}
elasticsearch.password={{ elasticsearch_password }}

workallocation.entity=workallocation_entity_alias
workorder.entity=workorder_entity_alias

elastic.field.workallocation.json.path=/EsFieldsmapping/workAllocationEsMapping.json
elastic.field.workorder.json.path=/EsFieldsmapping/workOrderEsMapping.json

######Storage Details#######
cloud.storage.type.name={{ cloud_service_provider }}
cloud.storage.key={{ cloud_storage_key }}
cloud.storage.secret={{ cloud_storage_secret | replace('\n', '\\n')}}
cloud.container.name={{ sb_cb_ext_container }}
cloud.storage.endpoint={{ cloud_storage_endpoint }}
cloud.folder.name={{ sb_cb_ext_container }}

html.store.path=/tmp/htmlFiles
pdf.store.path=/tmp/pdfFiles
