KEYCLOAK_ADMIN={{ kc24_admin_user }}
KEYCLOAK_ADMIN_PASSWORD={{ kc24_admin_password }}
JAVA_OPTS={{ kc24_jvm_opts }}
sunbird_user_service_base_url={{ sunbird_user_service_base_url }}
sunbird_authorization={{ core_vault_sunbird_ekstep_api_key }}
sunbird_lms_base_url=https://{{ nginx_proxy_server_name }}/api
sunbird_login_otp_template=loginWithOTP
sunbird_login_otp_email_subject="OTP Details for Login"