{
    "gatewayUrl": "{{sinchsms_gatewayurl}}",
    "enterpriseId": "{{sinchsms_enterpriseid}}",
    "subEnterpriseId": "{{sinchsms_subenterpriseid}}",
    "userId": "{{sinchsms_userid}}",
    "password": "{{sinchsms_password}}",
    "messageTypes": [
        {
            "name": "{{sinchsms_loginotpname}}",
            "message": "{{sinchsms_loginotpmessage}}",
            "Template_ID": "{{sinchsms_loginotptemplate_id}}"
        },
        {
            "name": "{{sinchsms_resetpasswordotpname}}",
            "message": "{{sinchsms_resetpasswordotpmessage}}",
            "Template_ID": "{{sinchsms_resetpasswordotptemplate_id}}"
        }
    ]
}