spring.application.name=scormvalidator
server.port={{ application_port }}

# Cassandra
spring.cassandra.contact-points={{ sunbird_cassandra_db_host }}
spring.cassandra.port=9042
spring.cassandra.keyspace-name={{ keyspace_sunbird }}
spring.cassandra.username={{ cassandra_username }}
spring.cassandra.password={{ cassandra_password }}
spring.cassandra.local-datacenter=DC1
cassandra.config.host={{ sunbird_cassandra_db_host }}
sunbird_cassandra_consistency_level=ONE

# Kafka
spring.kafka.bootstrap-servers=localhost:9092
kafka.scorm.validation.request.topic={{ env }}.scorm.validation.request
kafka.scorm.validation.request.topic.group={{env}}.scormvalidator

# SSO / Keycloak (JWT verification)
accesstoken.publickey.basepath=/keys/
sso.url=https://{{ domain_name }}/auth/
sso.realm={{ keycloak_sso_realm }}

# Content Service (read content metadata, incl. artifactUrl, by resourceId)
content-service-host=http://content-service:9000/
content-read-endpoint=content/v3/read

# Cloud storage
cloud.storage.type.name={{ cloud_service_provider }}
cloud.storage.key={{ cloud_storage_key }}
cloud.storage.secret={{ cloud_storage_secret | replace('\n', '\\n')}}
cloud.storage.endpoint={{ cloud_storage_endpoint }}
scorm.validation.container.name=igot
scorm.validation.supported.mime-types=application/vnd.ekstep.html-archive
