GCP_CREDENTIALS_PATH=/app/gcp_storage_credentials.json
GCP_DB_NAME=cumulative_master_data
GCP_ENROLMENT_TABLE_NAME=master_user_enrolments
GCP_ORG_HIERARCHY_TABLE_NAME=master_org_hierarchy_data
GCP_ORG_USER_TABLE_NAME=master_user_details
GCP_PROJECT={{ cloud_public_storage_project }}
GCS_URI_MASTER_ORG_HIERARCHY_DATA=gs://{{druid_gcloud_bucket}}/airflowData/org_hierarchy.parquet
GCS_URI_MASTER_USER_DETAILS=gs://{{druid_gcloud_bucket}}/airflowData/unified_user_details.parquet
GCS_URI_MASTER_USER_ENROLMENTS=gs://{{druid_gcloud_bucket}}/airflowData/unified_enrolments.parquet
GCS_URI_MASTER_APAR_USER_ENROLMENTS=gs://{{druid_gcloud_bucket}}/airflowData/user_apar_enrolments.parquet
IS_MASKING_ENABLED="false"
IS_VALIDATION_ENABLED="false"
MERGE_KEYS_MASTER_ORG_HIERARCHY_DATA=mdo_id
MERGE_KEYS_MASTER_USER_DETAILS=user_id, mdo_id
MERGE_KEYS_MASTER_USER_ENROLMENTS=user_id, content_id, mdo_id, batch_id
SUNBIRD_SSO_REALM={{keycloak_sso_realm}}
SUNBIRD_SSO_URL=https://{{portal_domain_name}}/auth/
SYNC_TABLES=master_user_enrolments, master_org_hierarchy_data, master_user_details, master_apar_user_enrolments
accesstoken_publickey_basepath=/keys
MAX_ORG_CACHE_SIZE=8000
MAX_ORG_CACHE_AGE=86400
MERGE_KEYS_MASTER_APAR_USER_ENROLMENTS=user_id, mdo_id
GCP_APAR_TABLE_NAME=master_apar_user_enrolments

DATASET=cumulative_master_data

ENROLMENT_FILTER_CONFIG={"content_id":{"type":"list"},"mdo_id_list":{"type":"list"},"user_id":{"type":"list"},"content_progress_percentage":{"type":"comparison","valid_operators":[">","<",">=", "<=", "="]},"certificate_generated":{"type":"string"}}
USER_FILTER_CONFIG={"mdo_id_list":{"type":"list"},"status":{"type":"string","values":{"Active":1,"Inactive":0}},"user_registration_date":{"type":"comparison","valid_operators":[">","<",">=", "<=", "="]},"is_verified_karmayogi":{"type":"boolean","values":{"True":true,"False":false}},"groups":{"type":"list"},"user_id":{"type":"list"},"designation":{"type":"list"}}
USER_REPORT_FILTER_CONFIG={"content_id":{"type":"list"},"mdo_id_list":{"type":"list"},"content_progress_percentage":{"type":"comparison","valid_operators":[">","<",">=", "<=", "="]},"certificate_generated":{"type":"string"}}

REDIS_HOST={{kp_redis_ip}}
REDIS_PORT=6379
REDIS_DB=0
REDIS_SSL=False
REDIS_TIMEOUT=5
REDIS_KEY_MDO_PREFIX=igot_mdo_
REDIS_DEFAULT_TTL=86400

