LOG_LEVEL=INFO
DB_DSN={{ ai_assessment_db_dsn }}
GOOGLE_PROJECT_ID={{ ai_assessment_google_project_id }}
KARMAYOGI_API_KEY={{ bearer_token }}
KARMAYOGI_BASE_URL=https://{{domain_name}}
LEARNING_AI_BASE_URL={{ learning_ai_base_url }}

GOOGLE_LOCATION=us-central1
GENAI_MODEL_NAME=gemini-2.5-pro
MAX_CONCURRENCY=50
WORKER_BATCH_SIZE=50
MAX_ATTEMPTS=3

KAFKA_REQUEST_TOPIC={{env}}.assessment.request
KAFKA_BOOTSTRAP_SERVERS={{ kafka_servers_list }}
KAFKA_TOPIC={{env}}.assessment.lifecycle.events
KAFKA_GROUP_ID=assessment_worker_group

GOOGLE_APPLICATION_CREDENTIALS=/app/gcp/gcpaiassessmentworkercredentials.json
