spring.application.name=form
server.port=8099
spring.datasource.url=jdbc:postgresql://{{ postgresql_host }}:{{ postgresql_port }}/form
spring.datasource.username={{postgresql_username_sunbird }}
spring.datasource.password={{ postgresql_password_sunbird }}
spring.jpa.show-sql=false
form.allowed-sort=createdAt,updatedAt,title,status,startDate,endDate
form.allowed-facets=status,contextType,orgId,createdBy

spring.datasource.hikari.maximum-pool-size=60
spring.datasource.hikari.minimum-idle=10
spring.datasource.hikari.connection-timeout=5000

spring.jpa.properties.hibernate.format_sql=false
logging.level.com.karmayogi.form=WARN
logging.level.org.hibernate.SQL=OFF
logging.level.org.hibernate.type=OFF

# Exact match filters
form.filter-field-map.status=status
form.filter-field-map.contextType=contextType
form.filter-field-map.createdBy=createdBy
form.filter-field-map.orgId=orgId
form.filter-field-map.formId=formId
form.filter-field-map.batchId=batchId
form.filter-field-map.courseId=courseId

# Date FROM filters
form.date-from-map.startDateFrom=createdAt
form.date-from-map.endDateFrom=endDate

# Date TO filters
form.date-to-map.startDateTo=createdAt
form.date-to-map.endDateTo=endDate

spring.data.redis.host={{ kp_redis_ip }}
spring.data.redis.port=6379
form.cache.ttl.hours=1

form.kafka.bootstrap-servers={{ kafka_servers_list }}
form.kafka.topic.form-events={{env}}.form.events.create
form.kafka.consumer.group-id={{env}}.form-es-sync-group

form.search-max-page=1000
form.search-max-page-size=200
form.search-default-page-size=10
form.es-timeout-seconds=30
form.search-index=fs-forms-v3
form.search-supported-context-types=form,completionSurvey,peerValidationSurvey,assignment
form.search-allowed-filter-keys=formId,status,contextType,createdBy,orgId,startDateFrom,startDateTo,endDateFrom,endDateTo

form.submission-allowed-filter-keys=formId,status,createdBy,createdDate,submittedBy,submittedDate,contextId,updatedBy,updatedDate,additionalProperties.batchId,contextType,contextOrgId
form.form-context-hide-creator-fields=AGKPublicSurvey,completionSurvey
form.max-allowed-filter-list-size=50
form.validation-url-allowed-keys=assignmentUrl,thumbnailUrl,submitUrl,thumbnail
form.validation-url-allowed-domains=portal.dev.karmayogibharat.net,igot.gov.in

sso.realm={{ keycloak_realm_name }}
sso.url={{ keycloak_domain }}
accesstoken.publickey.basepath=/keys/

#Cassandra
spring.cassandra.startupTimeoutInSeconds=100000
cassandra.config.host={{ sunbird_cassandra_db_host }}
spring.cassandra.port=9042
spring.cassandra.keyspace-name={{ keyspace_sunbird }}
spring.cassandra.username={{ cassandra_username }}
spring.cassandra.password={{ cassandra_password }}
spring.cassandra.local-datacenter=DC1
sunbird_cassandra_consistency_level=ONE
form.organisation-fields=orgname
form.peer-survey-max-custom-questions=2
form.peer-survey-allowed-additional-properties=isSpvCreated
form.form-index-v2=fs-forms-alias-v2

form.peer-validation-status-update-topic={{env}}.peer.validation.status.update
form.peer-validation-submission-action-topic={{env}}.peer.validation.submission.action
form.peer-validation-notify-topic={{env}}.peer.validation.notify
peer.survey.notification.read.topic=peer-survey-notification-read
peer.survey.notification.sent.topic=peer-survey-notification-sent
peer.survey.notification.read.group=peer-survey-notification-read-group
form.attachment-allowed-domains=storage.googleapis.com,portal.dev.karmayogibharat.net
