SERVICE_ENVIRONMENT={{env}}
LOG_LEVEL=INFO
OPENAI_API_KEY={{analyser_cbc_openai_api_key}}
DATABASE_URL=postgresql://{{postgresql_username_sunbird}}:{{postgresql_password_sunbird}}@{{postgresql_host}}:{{postgresql_port}}/cbc_case_study
