LOG_LEVEL=INFO
APP_ROOT_PATH=/ai-cbp-mdo
DATABASE_URL={{ ai_cbp_mdo_database_url }}
KB_BASE_URL=https://{{ domain_name }}
KB_AUTH_TOKEN={{ bearer_token }}
REQUIRED_ROLE=PUBLIC
SUNBIRD_SSO_URL=https://{{ domain_name }}/auth
SUNBIRD_SSO_REALM={{ keycloak_sso_realm }}
