LOG_LEVEL={{ ai_cbp_mdo_log_level }}
APP_ROOT_PATH={{ ai_cbp_mdo_root_path }}
DATABASE_URL={{ ai_cbp_mdo_database_url }}
KB_BASE_URL=https://{{domain_name}}
KB_AUTH_TOKEN={{ bearer_token }}
REQUIRED_ROLE={{ ai_cbp_mdo_required_role }}
SUNBIRD_SSO_URL={{ ai_assessment_sso_url }}
SUNBIRD_SSO_REALM={{ ai_assessment_sso_realm }}
