SERVICE_ENVIRONMENT={{env}}
LOG_LEVEL=INFO
TICKET_ISS={{cb_download_proxy_ticket_iss}}
TICKET_AUD={{cb_download_proxy_ticket_aud}}
TICKET_PUBKEY_DIR=/usr/local/openresty/keys
TICKET_PUBKEY_KIDS={{cb_download_proxy_ticket_pubkey_kids}}
SIGNER_SA_EMAIL={{cb_download_proxy_signer_sa_email}}
REDIS_HOST={{redis_host}}
REDIS_PORT={{redis_port}}
GCS_METADATA_HOST={{cb_download_proxy_gcs_metadata_host}}
NUMBER_OF_IMAGES=2

