[Unit]
Description=Keycloak 24 Service
After=network.target

[Service]
Type=simple

User=keycloak
Group=keycloak

WorkingDirectory=/opt/keycloak

# External environment file
EnvironmentFile=/opt/keycloak/conf/keycloak.conf

# Logging
StandardOutput=append:/var/log/keycloak.out.log
StandardError=append:/var/log/keycloak.err.log

# Start command
ExecStart=/opt/keycloak/bin/kc.sh start --optimized

# Restart policy
Restart=always
RestartSec=10

# Limits
LimitNOFILE=65535

# Graceful shutdown
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
